extends layout

block content
  h1 Login
  form(action="login" method="post")
    label(for="name") UserName:
    input(type="text" id="uname" name="username" )
    
    label(for="password") Password:
    input(type="text" id="pwd" name="password" )
    button(type="submit") Login